corewar_old
/corewar
/asm
compiler/asm
#virtual_machine/corewar
*.cor
.norm_script.sh
*.o
*.d
objs
dpds
.idea
*.dSYM
*.test*
cmake-build-debug
*.a
.DS_Store
venv

/virtual_machine/visualization/**/build/
!/virtual_machine/**/cmake/
/virtual_machine/**/.hg/
/virtual_machine/**/external/SDL*/
/virtual_machine/executable/
/virtual_machine/corewar
/virtual_machine/compare_dumps/
/virtual_machine/**/libft.*
